article h1{
  color: #32363f;
  margin-top: 20px;
}

article h2{
  color: #f8f8f8;
  margin: 20px 0px;
}

#description article{
    background-color: $color-lighter;
    color: $text-cream;
    border-radius: 15px;
  }

  .association{
    padding: 15px;
    text-align: justify;
  }

  .card-footer{
    text-align: center;
    background-color: white;
  }

  .association{
    margin-bottom: 15px;
  }