/*

 ##     ## ########    ###    ########  ######## ########  
 ##     ## ##         ## ##   ##     ## ##       ##     ## 
 ##     ## ##        ##   ##  ##     ## ##       ##     ## 
 ######### ######   ##     ## ##     ## ######   ########  
 ##     ## ##       ######### ##     ## ##       ##   ##   
 ##     ## ##       ##     ## ##     ## ##       ##    ##  
 ##     ## ######## ##     ## ########  ######## ##     ##


 */

 @font-face{
    font-family: Girassol-Regular;
    src: url(Girassol-Regular.ttf);
}

header {
    display: flex;
    justify-content: space-between;
    background-color:$color-lighter;
    font-family: Girassol-Regular;
    padding-bottom: 10px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(0,0,0,0.70);
      -moz-box-shadow: 0px 5px 10px 2px rgba(0,0,0,0.70);
        box-shadow: 0px 5px 10px 2px rgba(0,0,0,0.70);
  }
  
  a:hover{
    color: $color-darker;
  }
  
  .navbar-brand {
    color: #ffffff;
    padding-top: 10px;
    font-size: 40px;
  }

  .navbar{
    background-color: $color-lighter;
    box-shadow: 0px 10px 10px $color-darker;
  }

  #filmspleinair{
    font-size: 25px;
  }


/*

 ##    ##    ###    ##     ## 
 ###   ##   ## ##   ##     ## 
 ####  ##  ##   ##  ##     ## 
 ## ## ## ##     ## ##     ## 
 ##  #### #########  ##   ##  
 ##   ### ##     ##   ## ##   
 ##    ## ##     ##    ###    
*/
.navbar{
  display: flex;
  justify-content: space-between;
}

.navbar-collapse{
  flex-grow: 0;
}

.nav-link{
  font-size: 28px;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin-top: 10px;
  }

  nav li {
    margin-right: 15px;
  }

  nav a {
    font-size: 1.5em;
    color: white;
    padding-bottom: 3px;
    text-decoration: none;
    margin-right: 10px;
  }

  nav a:hover {
    color: $color-darker;
    border-bottom: 3px solid $color-darker;
    text-decoration: none;
  }

  .navbar-toggler-icon{
    color: $color-darker;
  }

.navbar-light .navbar-brand {
  color: rgba(255, 255, 255, 0.9);
}
