//contient toutes les variables
$navbar-background:#32363f;
$navbar-color:white;
$btn-color:#cd170c;
$btn-border:#f58fa0;
$background-lighter:#697388;
$text-cream:#d7d7d7;
$primary-police: "Girassol-Regular";
$secondary-police: "Muli-Regular";