//Style des Boutons
.btn-search{
    background-color: $btn-red;
    border-color: $btn-red;
  }

  #banniere .btn {
    text-align: center;
  }

.btn{
    background-color: $btn-red;
    border-color: $btn-red;
    font-family: $primary-police;
    font-size: 25px;
  }

  .btn-primary:hover{
      background-color: $btn-clear;
      border-color: $btn-red;
  }

  #sendResaButton{
    text-align: center;
    margin-bottom: 10px;
  }

  .modal-resa button, .btn-inscription{
    font-size: 25px;
  }

  #films button{
    font-family: $primary-police;
  }