//Déclaration des variables
$color-darker:#32363f;
$color-lighter:#697388;
$btn-red:#cd170c;
$btn-clear:#f58fa0;
$text-cream:#d7d7d7;
$primary-police: "Girassol-Regular";
$secondary-police: "Muli-Regular";