  #description article{
    background-color: $background-lighter;
    color: $text-cream;
    margin-right: 80px;
    border-radius: 15px;
  }

  #films article{
    display: flex;
    justify-content: space-around;
  }  
  
  .card-inline{
    justify-content: space-around;
  }

  #films article{
    margin-left: 150px;
  }

  .card-footer{
    text-align: center;
  }

  .card-img-top{
    padding-top: 10px; 
    height: 580px;
  }