/*

 ########     ###    ##    ## ##    ## #### ######## ########  ######## 
 ##     ##   ## ##   ###   ## ###   ##  ##  ##       ##     ## ##       
 ##     ##  ##   ##  ####  ## ####  ##  ##  ##       ##     ## ##       
 ########  ##     ## ## ## ## ## ## ##  ##  ######   ########  ######   
 ##     ## ######### ##  #### ##  ####  ##  ##       ##   ##   ##       
 ##     ## ##     ## ##   ### ##   ###  ##  ##       ##    ##  ##       
 ########  ##     ## ##    ## ##    ## #### ######## ##     ## ######## 

*/

#banniere {
    background: url("https://cdn.le-petit-journal.com/uploads/2020/06/2299241-768x512.jpg") no-repeat;
    height: 700px;
    max-width: 100%;
    position: relative;
    box-shadow: 0px 4px 4px #1c1a19;
    margin-bottom: 25px;
    background-size: cover;
    filter: opacity(75%);
  }
  
  .banner_desc{
      position: absolute;
      bottom: 0;
      width: 99.5%;
      height: 50%;
      padding-left: 4px;
      color: white;
      font-size: 0.8em;
      text-align: center;
  }

  #banniere .btn {
    text-align: center;
  }
  
  #banniere h1{
    font-family: Girassol-Regular;
    font-size: 80px;
  }