/*

 ##     ## ########    ###    ########  ######## ########  
 ##     ## ##         ## ##   ##     ## ##       ##     ## 
 ##     ## ##        ##   ##  ##     ## ##       ##     ## 
 ######### ######   ##     ## ##     ## ######   ########  
 ##     ## ##       ######### ##     ## ##       ##   ##   
 ##     ## ##       ##     ## ##     ## ##       ##    ##  
 ##     ## ######## ##     ## ########  ######## ##     ##   @font-face{
    font-family: Girassol-Regular;
    src: url(Girassol-Regular.ttf);
}

*/
header {
    display: flex;
    justify-content: space-between;
    background-color:#32363f;
    font-family: Girassol-Regular;
  }
  
  a:hover{
    color: #91BFDB ;
  }
  
  .navbar-brand {
    color: #E0F3F8;
    padding-top: 20px;
  }

/*

 ##    ##    ###    ##     ## 
 ###   ##   ## ##   ##     ## 
 ####  ##  ##   ##  ##     ## 
 ## ## ## ##     ## ##     ## 
 ##  #### #########  ##   ##  
 ##   ### ##     ##   ## ##   
 ##    ## ##     ##    ###    

*/
nav ul {
    list-style-type: none;
    display: flex;
    margin-top: 10px;
  }
  
  nav li {
    margin-right: 15px;
  }
  
  nav a {
    font-size: 1.5em;
    color: white;
    padding-bottom: 3px;
    text-decoration: none;
    margin-right: 10px;
  }
  
  nav a:hover {
    color: #91BFDB;
    border-bottom: 3px solid #000876;
    text-decoration: none;
  }