/*

 ########  ########  ######   ######  ########  #### ########  ######## #### ######## 
 ##     ## ##       ##    ## ##    ## ##     ##  ##  ##     ##    ##     ##  ##       
 ##     ## ##       ##       ##       ##     ##  ##  ##     ##    ##     ##  ##       
 ##     ## ######    ######  ##       ########   ##  ########     ##     ##  ######   
 ##     ## ##             ## ##       ##   ##    ##  ##           ##     ##  ##       
 ##     ## ##       ##    ## ##    ## ##    ##   ##  ##           ##     ##  ##       
 ########  ########  ######   ######  ##     ## #### ##           ##    #### ##       

*/
    
section{
  font-family: $secondary-police;
}

h1, h2, h3{
  font-family: $primary-police;
}

.association {
  padding: 20px 50px;
}

#description {
  padding: 15px;
}

#films {
  width: max-content;
  height: max-content;
  display: flex;
  text-align: center;
  margin-top: 20px;
}

#films row{
  height: 100%;
}

#films h2{
  margin-bottom: 25px;
  color: $text-cream;
}
