/*

 ########  ########  ######   ######  ########  #### ########  ######## #### ######## 
 ##     ## ##       ##    ## ##    ## ##     ##  ##  ##     ##    ##     ##  ##       
 ##     ## ##       ##       ##       ##     ##  ##  ##     ##    ##     ##  ##       
 ##     ## ######    ######  ##       ########   ##  ########     ##     ##  ######   
 ##     ## ##             ## ##       ##   ##    ##  ##           ##     ##  ##       
 ##     ## ##       ##    ## ##    ## ##    ##   ##  ##           ##     ##  ##       
 ########  ########  ######   ######  ##     ## #### ##           ##    #### ##       

*/
    
section{
  font-family: $secondary-police;
}

h1, h2, h3{
  font-family: $primary-police;
}

.association {
  padding: 20px 50px;
}

#description {
  padding: 15px;
}


/*

 ########   ##    ##          ####      ####    ######
 ##         ##    ##          ##  ##  ##  ##   ##    ##
 ##         ##    ##          ##    ##    ##   ##
 #######    ##    ##          ##          ##    ######
 ##         ##    ##          ##          ##         ##
 ##         ##    ##          ##          ##   ##    ##
 ##         ##    #########   ##          ##    ######

*/
#films {
  width: max-content;
  height: max-content;
  text-align: center;
  margin-top: 20px;
}

#films row{
  height: 100%;
}

#films h2{
  margin-bottom: 25px;
  color: $text-cream;
}

.card-inline{
  margin-top: 25px;
}

/*
 
 ########  ########  ######  ######## ########  ##     ##    ###    ######## ####  #######  ##    ## 
 ##     ## ##       ##    ## ##       ##     ## ##     ##   ## ##      ##     ##  ##     ## ###   ## 
 ##     ## ##       ##       ##       ##     ## ##     ##  ##   ##     ##     ##  ##     ## ####  ## 
 ########  ######    ######  ######   ########  ##     ## ##     ##    ##     ##  ##     ## ## ## ## 
 ##   ##   ##             ## ##       ##   ##    ##   ##  #########    ##     ##  ##     ## ##  #### 
 ##    ##  ##       ##    ## ##       ##    ##    ## ##   ##     ##    ##     ##  ##     ## ##   ### 
 ##     ## ########  ######  ######## ##     ##    ###    ##     ##    ##    ####  #######  ##    ## 
 
*/

#reservation{
  margin-top: 50px;
  margin-bottom: 25px;
  color: $text-cream;
}

.section-heading{
  margin-bottom: 25px;
}

#resaForm{
  background-color: $navbar-background;
  border-radius: 15px;
  color: $text-cream;
}

.infos{
  display: flex;
  flex-wrap: wrap;
}

.inner {
  position: relative;
  width: 400px; 
}

.image-1 {
  size: 300px;
  position: absolute;
  bottom: -140px;
  left: -270px;
  z-index: 99; 
}


