/*

 ########  ########  ######   ######  ########  #### ########  ######## #### ######## 
 ##     ## ##       ##    ## ##    ## ##     ##  ##  ##     ##    ##     ##  ##       
 ##     ## ##       ##       ##       ##     ##  ##  ##     ##    ##     ##  ##       
 ##     ## ######    ######  ##       ########   ##  ########     ##     ##  ######   
 ##     ## ##             ## ##       ##   ##    ##  ##           ##     ##  ##       
 ##     ## ##       ##    ## ##    ## ##    ##   ##  ##           ##     ##  ##       
 ########  ########  ######   ######  ##     ## #### ##           ##    #### ##       

*/
  
  #films {
    background-color: white;
    width: max-content;
    height: max-content;
  }
  
  #description {
    padding: 15px;
  }
  