/*

  ######   #######  ##     ## ##     ## ##     ## ##    ## 
 ##    ## ##     ## ###   ### ###   ### ##     ## ###   ## 
 ##       ##     ## #### #### #### #### ##     ## ####  ## 
 ##       ##     ## ## ### ## ## ### ## ##     ## ## ## ## 
 ##       ##     ## ##     ## ##     ## ##     ## ##  #### 
 ##    ## ##     ## ##     ## ##     ## ##     ## ##   ### 
  ######   #######  ##     ## ##     ##  #######  ##    ## 

*/
body {
  background-color: white;
  /*#b78fa7 ou #faf4ba */
}

.container {
  max-width: 1500px;
}

/*


 ########  ########  ######   ######  ########  #### ########  ######## #### ######## 
 ##     ## ##       ##    ## ##    ## ##     ##  ##  ##     ##    ##     ##  ##       
 ##     ## ##       ##       ##       ##     ##  ##  ##     ##    ##     ##  ##       
 ##     ## ######    ######  ##       ########   ##  ########     ##     ##  ######   
 ##     ## ##             ## ##       ##   ##    ##  ##           ##     ##  ##       
 ##     ## ##       ##    ## ##    ## ##    ##   ##  ##           ##     ##  ##       
 ########  ########  ######   ######  ##     ## #### ##           ##    #### ##       

*/
section {
  padding-bottom: 20px;
}

#films {
  background-color: white;
}

#description {
  padding: 15px;
}

/*

    ###     ######  #### ########  ######## 
   ## ##   ##    ##  ##  ##     ## ##       
  ##   ##  ##        ##  ##     ## ##       
 ##     ##  ######   ##  ##     ## ######   
 #########       ##  ##  ##     ## ##       
 ##     ## ##    ##  ##  ##     ## ##       
 ##     ##  ######  #### ########  ######## 

*/
article{
  background-color: #e9ecef;
  margin-right: 80px;
  padding: 20px 50px;
}

aside{
  background-color: #e9ecef;
  padding: 20px 50px;
}

.corps {
  display: flex;
}

/*

 ##     ## ########    ###    ########  ######## ########  
 ##     ## ##         ## ##   ##     ## ##       ##     ## 
 ##     ## ##        ##   ##  ##     ## ##       ##     ## 
 ######### ######   ##     ## ##     ## ######   ########  
 ##     ## ##       ######### ##     ## ##       ##   ##   
 ##     ## ##       ##     ## ##     ## ##       ##    ##  
 ##     ## ######## ##     ## ########  ######## ##     ## 

*/
header {
  display: flex;
  justify-content: space-between;
  background-color: #4575b4;
}

a:hover{
  color: #91BFDB ;
}

.navbar-brand {
  color: #E0F3F8;
  padding-top: 20px;
}

/*

 ##    ##    ###    ##     ## 
 ###   ##   ## ##   ##     ## 
 ####  ##  ##   ##  ##     ## 
 ## ## ## ##     ## ##     ## 
 ##  #### #########  ##   ##  
 ##   ### ##     ##   ## ##   
 ##    ## ##     ##    ###    

*/
nav ul {
  list-style-type: none;
  display: flex;
  margin-top: 10px;
}

nav li {
  margin-right: 15px;
}

nav a {
  font-size: 1.3em;
  color: white;
  padding-bottom: 3px;
  text-decoration: none;
}

nav a:hover {
  color: #91BFDB;
  border-bottom: 3px solid #000876;
  text-decoration: none;
}

/*

 ########     ###    ##    ## ##    ## #### ######## ########  ######## 
 ##     ##   ## ##   ###   ## ###   ##  ##  ##       ##     ## ##       
 ##     ##  ##   ##  ####  ## ####  ##  ##  ##       ##     ## ##       
 ########  ##     ## ## ## ## ## ## ##  ##  ######   ########  ######   
 ##     ## ######### ##  #### ##  ####  ##  ##       ##   ##   ##       
 ##     ## ##     ## ##   ### ##   ###  ##  ##       ##    ##  ##       
 ########  ##     ## ##    ## ##    ## #### ######## ##     ## ######## 

*/
#banniere {
  background: url("https://static.usbeketrica.com/images/thumb_840xh/5e90372e12ac5.jpg") no-repeat;
  height: 700px;
  max-width: 100%;
  position: relative;
  box-shadow: 0px 4px 4px #1c1a19;
  margin-bottom: 25px;
  background-size: cover;
}

#banniere .btn {
  position: absolute;
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
