/*
                                                                                   
                                                                                      
 ########  ########  ######   ######  ########  #### ########  ######## #### ######## 
 ##     ## ##       ##    ## ##    ## ##     ##  ##  ##     ##    ##     ##  ##       
 ##     ## ##       ##       ##       ##     ##  ##  ##     ##    ##     ##  ##       
 ##     ## ######    ######  ##       ########   ##  ########     ##     ##  ######   
 ##     ## ##             ## ##       ##   ##    ##  ##           ##     ##  ##       
 ##     ## ##       ##    ## ##    ## ##    ##   ##  ##           ##     ##  ##       
 ########  ########  ######   ######  ##     ## #### ##           ##    #### ##       
 
*/

section{
    background-color: $font-section;
    padding-bottom: 20px;
}

#films{
    background-color: $navbar-color;
}

#description{
    padding: 15px;
}

/*
 
    ###     ######  #### ########  ######## 
   ## ##   ##    ##  ##  ##     ## ##       
  ##   ##  ##        ##  ##     ## ##       
 ##     ##  ######   ##  ##     ## ######   
 #########       ##  ##  ##     ## ##       
 ##     ## ##    ##  ##  ##     ## ##       
 ##     ##  ######  #### ########  ######## 
 
*/

article, aside{
    padding: 20px;
}

.corps{
    display: flex;
}