/*

  ######   #######  ##     ## ##     ## ##     ## ##    ## 
 ##    ## ##     ## ###   ### ###   ### ##     ## ###   ## 
 ##       ##     ## #### #### #### #### ##     ## ####  ## 
 ##       ##     ## ## ### ## ## ### ## ##     ## ## ## ## 
 ##       ##     ## ##     ## ##     ## ##     ## ##  #### 
 ##    ## ##     ## ##     ## ##     ## ##     ## ##   ### 
  ######   #######  ##     ## ##     ##  #######  ##    ## 

*/

@font-face {
  font-family: Girassol-Regular;
  src: url(Girassol-Regular.ttf);
}

body {
  background-color: $color-darker;
}

h2{
  width : 100%;
  text-align: center;
}

ul{
  list-style-type: none;
}

iframe{
  border: 0;
}