/*

  ######   #######  ##     ## ##     ## ##     ## ##    ## 
 ##    ## ##     ## ###   ### ###   ### ##     ## ###   ## 
 ##       ##     ## #### #### #### #### ##     ## ####  ## 
 ##       ##     ## ## ### ## ## ### ## ##     ## ## ## ## 
 ##       ##     ## ##     ## ##     ## ##     ## ##  #### 
 ##    ## ##     ## ##     ## ##     ## ##     ## ##   ### 
  ######   #######  ##     ## ##     ##  #######  ##    ## 

*/
@font-face {
  font-family: Girassol-Regular;
  src: url(Girassol-Regular.ttf);
}

body {
  background-color: #32363f;
  /*#b78fa7 ou #faf4ba */
}

.container {
  max-width: 1500px;
}
